[submodule "android-vault"]
	path = android-vault
	url = git@github.com:instructure/android-vault.git
[submodule "apps/mobile-offline-downloader-android"]
	path = apps/mobile-offline-downloader-android
	url = git@github.com:2uinc/mobile-offline-downloader-android.git
